.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; background-color: lightcoral;}
    .div2 { grid-area: 1 / 2 / 2 / 3; background-color: blanchedalmond;}
    .div3 { grid-area: 1 / 3 / 2 / 4; background-color: black; }
    .div4 { grid-area: 2 / 1 / 3 / 2;background-color: grey; }
    .div5 { grid-area: 2 / 2 / 3 / 3;background-color: aquamarine; }
    .div6 { grid-area: 2 / 3 / 3 / 4; background-color: yellow;}
    .div7 { grid-area: 3 / 1 / 4 / 2;background-color: green; }
    .div8 { grid-area: 3 / 2 / 4 / 3;background-color: purple; }
    .div9 { grid-area: 3 / 3 / 4 / 4;background: orange; } 